.div1{
	text-align: center;
	margin: 50px auto;
	margin-top: 40px;
	border: 1px solid #D1D8CA;
	height: auto;
	width: 400px;
	border-radius: 2em;
	padding: 20px;
	line-height: 1;
	display: block;
	background-color:#F3FCEB;
}

.div1 label {
	margin: 10px;
	font-weight: bold;
}

.dv-1{
	width: 250px;
	height: auto;
	margin: auto; 
	padding: 10px;
}

.dv-1 input{
	margin-top: 10px;
}

.div2{
	text-align: center;
	position: static;
	margin: auto;
	margin-top: 120px;	
	border: 1px solid #D1D8CA;
	height: 450px;
	width: 420px;
	border-radius: 2em;
	padding: auto;
	line-height: 1;

}

.div3{
	text-align: center;
	position: static;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #D1D8CA;
	height: 680px;
	width: 1000px;
	border-radius: 2em;
	padding: auto;
	line-height: 1;

}

.div4{
	text-align: center;
	position: static;
	margin: auto;
	margin-top: 120px;	
	border: 1px solid #D1D8CA;
	height: 500px;
	width: 700px;
	border-radius: 2em;
	padding: auto;
	line-height: 1;

}


body{
	background-color: #C4C4C4;
}


#b1 {
	margin-right: 350px;
}

#b2{
	margin-left:  350px;
}


.text{
	font-size: 3em;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	line-height: 1;
}
.p1{
	text-align: left;
	padding-left: 10px;
}

