*{
	padding: 0;
	margin: 0;
}

html,
body {
	height: auto;
	width: 100%;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.container{
    width:100%;
    height:100%;
}

.nv{
	background-color: #F8F8F8;
	width:80%;
    height:13%;
    position: absolute;
    right: 0;
    box-shadow: 0px 0px 10px 0px rgb(205, 205, 207);
    z-index: 3;
    padding-top: 15px;
    padding-left: 10px;

}

.nv-li{
	color: #000;
}

.nv-li i{
	color: #18E400;
	padding-left: 10px;
}

.nv-li a{
	text-decoration: none;
	color: #6A6A6A;
}

.nv-li:hover > a {
	color: #444444;
	text-decoration: none;
}

#lf{
	right: 10;
}

.content{
    width:80%;
    height: 87%;
    margin-left:12%;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.sidebar {
	top: 0;
	left: 0;
	height: 100%;
	width: 20%;
	height: 100%;
	background: rgb(127, 129, 144);
	position: fixed;
	z-index: 3;

}

.sidebarR {
	top: 0;
	left: 0;
	height: 100%;
	width: 10%;
	height: 100%;
	background: rgb(127, 129, 144);
	position: fixed;
	z-index: 3;
	display: none;

}

.sidebar hr{
	color: rgb(134, 134, 146);
}

.mn{
	padding: 12px;
	color: #fff;
}

.mn a{
	color: #fff;
	text-decoration: none;
}


.mn i{
	width: 30px;
	text-align: left;
	margin-right: 30px;
}

.mn img{
	width: 250px;
	height: 70px;
}

.mn:hover > a {
	color: #CCCCCC;
	text-decoration: none;
}

.mn:hover {
	color: #CCCCCC;
}

.mn label {
	cursor: pointer;
}

.mt{
	padding: 5px;
	padding-left: 50px;
	color: #fff;
}

.mt a{
	color: #fff;
	text-decoration: none;
}

.mt i{
	width: 32px;
	text-align: left;
	margin-right: 15px;
}

.mt:hover > a {
	color: #CCCCCC;
	text-decoration: none;
}

.mt:hover {
	color: #CCCCCC;
}

.ms:hover > a {
	color: #FF6969;
	text-decoration: none;
}

.ms:hover {
	color: #FF6969;
}

.text{
	font-size: 2em;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	line-height: 1;
}

.divCur2{
	text-align: left;
	height: auto;
	width: 95%;
	padding: 20px;
	margin: 20px;
	margin-bottom: 20px;
	line-height: 1;
	border: 1px solid #F8F8F8;
	border-radius: 1em;
	background-color: #F8F8F8;
	box-shadow: 0px 0px 10px 0px rgb(205, 205, 207);
}

.botonmar{
	margin: 2px;
}


.divs{
	text-align: left;
}

#txtbox{
	text-align: left;
}


.div5{
	text-align: center;
	position: static;
	margin: auto;
	margin-top: 70px;	
	border: 1px solid #D1D8CA;
	height: 500px;
	width: 1000px;
	border-radius: 2em;
	padding: 50px;
	line-height: 1;
	background-color:#F3FCEB;
}

.div6{
	text-align: center;
	position: static;
	margin: auto;
	margin-top: 70px;	
	border: 1px solid #D1D8CA;
	height: 500px;
	width: 1000px;
	border-radius: 2em;
	padding-left: 15%;
	padding-top: 40px;
	line-height: 1;
	background-color:#F3FCEB;

}

#textS{
	font-size: 1em;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	line-height: 1;
	margin-bottom: 10px; 
}

.text2{
	font-size: 2em;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	line-height: 1;
	margin-bottom: 20px; 
}

.bott{
	padding-left: 300px;
	padding-top: 100px;
}

.divPonente{
	margin: auto;
	border: 1px solid #808CA0;
	background-color:#96A6C0;
	line-height: 1;
	border-radius: 1em;
	width: 900px;
	padding: 10px;
}
.pon{
	text-align: left;
	padding-left: 10px;
}

.divCur{
	text-align: center;
	position: static;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #D1D8CA;
	height: auto;
	width: 1000px;
	border-radius: 2em;
	padding: 50px;
	line-height: 1;
	background-color:#F3FCEB;
}


.coordinador{
	font-size: 2em;
	line-height: 2;
	text-align: left;
}

#botonheight{
	text-align: center;
}

.botonmar{
	margin: 2px;
}

.p1{
	text-align: left;
	padding-left: 10px;
}

.des ul {
  display: none;
  list-style-type:none;
}

.des input:checked + ul {
  display: block;
}

.des input {
  display: none;
}

#lbl{
	padding: 10px;
	text-align: center;
}

#titres{
		display: none;
	}


@media only screen and (max-width: 1050px){
	.sidebar{
		display: none;
	}

	.sidebarR{
		display: block;
	}

	.sidebarR img{
		display: none;
	}
	#title{
		display: none;
	}
	#titres{
		display: inline;
	}
	.nv{
		padding-top: 10px;
		width: 90%;
	}
	.content{
		width: 90%;
	}
}

@media only screen and (max-height: 500px){
	.nv{
		padding-top: 10px;
	}
}

@media only screen and (max-height: 400px){
	.nv{
		padding-top: 0px;
	}
}