.div7{
	text-align: center;
	position: static;
	margin: auto;
	margin-top: 70px;	
	border: 1px solid #D1D8CA;
	height: 500px;
	width: 900px;
	border-radius: 2em;
	padding-left: 9%;
	padding-top: 40px;
	line-height: 1;
	background-color:#F3FCEB;

}

.text{
	font-size: 3em;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	line-height: 1;
}

body{
	background-color: #C4C4C4;
}

.bott{
	padding-left: 300px;
	padding-top: 100px;
}

